# Node.js modules
node_modules/

# Environment Variables
.env

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp

# Coverage reports
coverage/

# Build files
build/
dist/

# Temporary files
*.tmp
*.temp
